.devenv
  font-size: 12px
  height: 100vh
  display: flex
  flex-flow: column nowrap
  background-color: $de-background-color
  color: $de-text-color
  overflow: hidden

.content--de
  border-top: 1px solid $de-border-color
  border-bottom: 1px solid $de-border-color
  display: flex
  flex-flow: row nowrap
  flex: 1 1 auto
  overflow: hidden

.workspace
  display: flex
  flex-flow: column nowrap
  flex: 1 1 auto

.pane-container
  border-bottom: 1px solid $de-border-color
  display: flex
  flex-flow: column nowrap
  flex: 1 1 auto

  &--collapsible
    height: 200px
    border-bottom: none
    flex: 0 1 auto

.nav-tabs--de
  padding: 4px 4px 0 4px
  border: none
  flex: 0 0 auto

  & > li
    margin: 0

    & > a
      color: $de-text-color
      padding: 4px 10px
      border: none
      border-radius: 0px

      &:hover, &:focus
        background-color: transparent
        border: none

    &.active > a
      color: $de-text-color
      border: none
      background-color: $de-foreground-color

.tab-content--de
  background-color: $de-foreground-color
  flex: 1 1 auto
  position: relative

.panel-container
  border-left: 1px solid $de-border-color
  width: 30vw
  max-width: 250px
  flex: 0 0 auto
  overflow-y: auto

.panel-header
  padding: 4px 0
  font-weight: 500

.test-case-header
  display: flex
  flex-flow: row nowrap
  align-items: center
  padding: 8px 0

  &:hover > &__options
    display: block

  &__options
    display: none
    font-size: 10px
    color: $de-text-color-disabled
    margin-left: auto

    &:hover
      color: $de-text-color-secondary

    span
      margin-right: 2px

.test-case-text
  height: 150px

.editor
  position: absolute !important
  top: 0
  bottom: 0
  left: 0
  right: 0
